# Frontend local / Vercel
VITE_API_URL=http://localhost:8080
VITE_SUPABASE_URL=https://hgjxmtpaatkvcvznpytm.supabase.co
VITE_SUPABASE_ANON_KEY=TU_PUBLISHABLE_KEY
VITE_SUPABASE_PROJECT_ID=hgjxmtpaatkvcvznpytm
